input
    padding 10px 12.5px
    border 1px $dark-gray solid
    border-radius 5px
    align-items center
    display flex
    width 100%
    line-height 1
    outline none
    box-sizing border-box
    &:placeholder
        color #9E9E9E
    &[type=checkbox]
        width auto
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button
      -webkit-appearance none
      margin 0
    &[type=number]
      -moz-appearance textfield
      text-align right
      padding-right 1.8em
