$gray = gray
$light-gray = lighten($gray, 50%)
$dark-gray = darken($gray, 50%)

$yellow = #fbd439
$light-yellow = saturate($yellow, 65%)

$orange = orange

$red = #dc3545

$green = #28a745

$blue = #007bff
