.header
    grid-area header
    display flex
    align-items center
    justify-content center
    flex-direction row
    &-logo
        width 120px
        align-items center
        justify-content center
        display flex
        flex-direction row
        padding 1em
    &-nav
        display flex
        align-items center
        position relative
        flex 1 0 0
        padding 1em
